*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --colorBackground:#BDBBBB;
  --colorFirstGradient:#A1ACB2;
  --colorSecondGradient:#D9D9D9 ;
  --colorFontTitle:#FFFFFF;
  --colorFontLabel:#dcdcdc;
  --colorFormLogin:#023047;
  --colorInput:#219EBC;
  --colorBlack:black;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.container2{
  width: 100%;
  display: flex;
  position: absolute;
  margin: 0 auto;
}
.containerLogin{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--colorBackground);
}
.wrapLogin{
  width: 390px;
  background-color: var(--colorFormLogin);
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 10px 10px 5px 0px rgb(0, 0, 0);
}
.loginForm{
  width: 100%;
  
}

.loginFormTitle{
  display: block;
  margin-bottom: 1rem;
  font-size: 30px;
  color: var(--colorFontTitle);
  line-height: 1.2;
  text-align: center;
}
.loginFormTitle img{
  width: 90px;
}
.wrapInput{
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--colorInput);
  margin-bottom: 37px;
}
.input{
  font-size: 15px;
  color: var(--colorFontLabel);
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}
.focusInput{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: var(--colorFontLabel);
}

.focusInput::before{
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  background: -webkit-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: -o-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: -moz-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: linear-gradient(to left,var(--colorFirstGradient), var(--colorSecondGradient));
}
.focusInput::after{
  font-size: 15px;
  color: #219EBC;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left:5px ;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

input:focus{
  outline: none ;
}
input:focus + .focusInput::after{
  top:-15px;
}
input:focus + .focusInput::before{
  width: 100%;
}

.hasVal + .focusInput::after{
  top: -15px;
}
.hasVal + .focusInput::before{
  width: 100%;
}





.containerLoginFormBtn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}
.loginFormBtn{
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  line-height: 1.2;

  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  background: -webkit-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: -o-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: -moz-linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
  background: linear-gradient(to left, var(--colorFirstGradient), var(--colorSecondGradient));
}
.loginFormBtn:hover{
  cursor: pointer;
}
.footerFormLogin{
  display: flex;
  justify-content: center;
  align-items: center;

margin-top: 50px;
}
.text1{
  font-size: 14px;
  color: var(--colorFontLabel);
  line-height: 1.5;
  text-decoration: none;
  padding-right: 5px;
}
.text2{
  font-size: 14px;
  color: var(--colorInput);
  line-height: 1.5;
  text-decoration: none;
}